# ignore Tensorboard log files
logs

# ignore envrironment stuff
env
.idea
.DS_Store

# ignore docs
docs

# ignore neural network models
*.h5

# ignore some projecting stuff
ui

# ignore pictures
*.png
*.svg

# ignore pycache files
*.pyc
